:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #EFE9F4;
  background-color: #0d100f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
  overflow-y: hidden;
}

/* Title Bar */
.titlebar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 32px;
  background-color: #090B0B;
  color: #EFE9F4;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;

  -webkit-app-region: drag;
  z-index: 1000;
}
.titlebar div {
  display: flex;
  align-items: center;
  gap: 2px;
}
.titlebar img {
  width: 24px;
  height: 24px;
  left: 0;
  opacity: .8;
}
#home {
  background: transparent;
  border: none;
  color: #efe9f452;
  height: 32px;
  cursor: pointer;

  -webkit-app-region: no-drag;
  -webkit-transition: color ease-in-out 400ms;
}
#home div {
  gap: 4px;
}
#home img {
  opacity: .8;
  -webkit-transition: opacity ease-in-out 400ms;
}
#home:hover {
  color: #efe9f4;
  -webkit-transition: color ease-in-out 400ms;
}
#home:hover img {
  opacity: 1;
  -webkit-transition: opacity ease-in-out 400ms;
}


/* Title Bar -- CONTROLS */
.window-controls {
  display: flex;
  gap: 5px;
}
.window-controls button {
  background: transparent;
  border: none;
  color: white;
  width: 40px;
  height: 32px;
  cursor: pointer;

  -webkit-app-region: no-drag;
}

/* Title Bar -- Icons/Hovers */
#minimize:hover,
#minimize,
#maximize:hover,
#maximize,
#close:hover,
#close { 
  -webkit-transition: background-color ease-in-out 400ms;
}
#minimize:hover {
  background: #c0dfa188;
}
#maximize:hover {
  background: #EFD56B88;
}
#close:hover {
  background: #E44C4C88;
}

.window-controls path,
.window-controls button:hover path {
  -webkit-transition: stroke ease-in-out 400ms;
}
.window-controls path {
  stroke: #efe9f452;
}
.window-controls button:hover path {
  stroke: #efe9f4;
}


/* Page Container */
.page-container {
  margin-top: 32px; /* match title bar height */
  padding: 20px;
  overflow-y: auto;
}

/* Home Page */
.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 32px); /* full height minus title bar */
  gap: 20px;
  overflow-y: visible;
}

.home-page img {
  width: auto;
  height: 250px;
  margin-top: -100px;
}
.home-page h1 {
  font-size: 2.5rem;
  color: #efe9f4;
}
.home-page a {
  margin-top: -30px;
  font-size: 1rem;
  color: #36827F;
  opacity: .8;
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
  -webkit-transition: color ease-in-out 400ms;
}
.home-page a:hover {
  color: #51c2be;
  -webkit-transition: color ease-in-out 400ms;
}
.bottom {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 8px;
  right: 8px;
  background-color: transparent;
  border: none;
  color: #efe9f497;
  cursor: pointer;
}
.bottom div {
  display: flex;
  align-items: center;
  gap: 4px;
}


/* Modals */
.pop-up {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 700;
}
.pop-up .content {
  background-color: #090B0B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.pop-up .content h2 {
  margin: 20px;
}
.pop-up .buttons {
  gap: 0;
  display: flexbox;
  column-count: 2;
  width: 100%;
}
.pop-up .buttons button {
  bottom: 0;
  border: none;
  width: 100%;
  height: 40px;
}
.pop-up .close {
  background: tomato;
  float: right;
  border-radius: 0 0 0 8px;
}
.pop-up .no-close {
  background: grey;
  float: left;
  border-radius: 0 0 8px 0;
}


/* Fonts */
.outfit-300 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.jua-regular {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.google-sans-600 {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "GRAD" 100;
}
.google-sans-g100 {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "GRAD" -50;
}