:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #EFE9F4;
  background-color: #0d100f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Title Bar */
.titlebar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 32px;
  background-color: #090B0B;
  color: #EFE9F4;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;

  -webkit-app-region: drag;
  z-index: 1000;
}
.titlebar div {
  display: flex;
  align-items: center;
  gap: 2px;
}
.titlebar img {
  width: 24px;
  height: 24px;
  left: 0;
  opacity: .8;
}
#home {
  background: transparent;
  border: none;
  color: #efe9f452;
  height: 32px;
  cursor: pointer;

  -webkit-app-region: no-drag;
}
#home div {
  gap: 4px;
}
#home img {
  opacity: .8;
}
#home:hover {
  color: #efe9f4;
}
#home:hover img {
  opacity: 1;
}


/* Title Bar -- CONTROLS */
.window-controls {
  display: flex;
  gap: 5px;
}
.window-controls button {
  background: transparent;
  border: none;
  color: white;
  width: 40px;
  height: 32px;
  cursor: pointer;

  -webkit-app-region: no-drag;
}

/* Title Bar -- Icons/Hovers */
#minimize:hover {
  background: #c0dfa188;
}
#maximize:hover {
  background: #EFD56B88;
}
#close:hover {
  background: #E44C4C88;
}

.window-controls path {
  stroke: #efe9f452;
}
.window-controls button:hover path {
  stroke: #efe9f4;
}


/* Fonts */
.outfit-300 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}